
<section class="contact-body  d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase  pt-4 fw-bolder mb-3">contact component</h1>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row align-items-center">
            <div class="line"></div>
            <div>
                <i class="fa-solid fa-star px-3"></i>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div  class="w-50 mx-auto py-3">
        <label 
        [class.topp]="!userName" 
        for="username"
        class="position-relative pb-3 ">
        userName :
        </label>
        <input 
        type="text" 
        id="username" 
        placeholder="userName" 
        class="position-relative form-control border-0 border-bottom" 
        [(ngModel)]="userName">

        <label 
        [class.topp]="!userAge" 
        for="userAge" 
        class="position-relative pb-3 ">
        userAge :
        </label>

        <input 
        type="text" 
        id="userAge" 
        placeholder="userAge" 
        class="position-relative form-control border-0 border-bottom" 
        [(ngModel)]="userAge">

        <label 
        [class.topp]="!userEmail" 
        for="userEmail" 
        class="position-relative pb-3 ">
        userEmail :
        </label>

        <input 
        type="text" 
        id="userEmail" 
        placeholder="userEmail" 
        class="position-relative form-control border-0 border-bottom" 
        [(ngModel)]="userEmail">

        <label 
        [class.topp]="!userPassword" 
        for="userPassword" 
        class="position-relative pb-3 ">
        userPassword :
        </label>

        <input 
        type="text" 
        id="userPassword" 
        placeholder="userPassword" 
        class="position-relative form-control border-0 border-bottom" 
        [(ngModel)]="userPassword">
        
        <button class="btn btn-primary message-btn mt-4" >send Message</button>
    </div>

</section>