<section class="about-body  d-flex flex-column justify-content-center align-items-center ">
    <h1 class="text-uppercase text-white ">about component</h1>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row align-items-center">
            <div class="line bg-white "></div>
            <div>
                <i class="fa-solid fa-star text-white px-3"></i>
            </div>
            <div class="line bg-white "></div>
        </div>
        <div class="container">
            <div class="d-flex flex-column flex-md-row px-5">
                <p class="text-white me-3 col-md-6 ps-md-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p class="text-white col-md-6 pe-md-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
