<footer>
    <div class="section1 d-flex flex-wrap container-fluid text-white justify-content-center align-items-center text-center ">
        <div class="d-flex flex-column  loc col-12 col-md-4 py-2 py-md-0">
            <h3 class="text-uppercase">location</h3>
            <p class="text-capitalize">2215 john daniel drive</p>
            <p class="text-capitalize">clark, mO 65243</p>
        </div>
        <div class="d-flex flex-column  web col-12 col-md-4 py-5 py-md-0">
            <h3 class="text-uppercase">around the web</h3>
            <div>
                <i class="fa-brands fa-facebook mx-1 "></i>
                <i class="fa-brands fa-twitter mx-1"></i>
                <i class="fa-brands fa-linkedin mx-1"></i>
                <i class="fa-solid fa-globe mx-1"></i>
            </div>
        </div>
        <div class="d-flex flex-column  freelance col-12 col-md-4 py-5 py-md-0">
            <h3 class="text-uppercase">about freelancer</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <div class="section2 text-center">
        <p class="text-white">Copyright © Your Website 2021</p>
    </div>
</footer>