
.section1 {
    background-color: #2C3E50;
    padding: 2.5rem;
}
.fa-brands {
    border: 1px white solid;
    padding: 0.625rem;
    border-radius: 50%;
}
.fa-globe {
    border: 1px white solid;
    padding: 0.625rem;
    border-radius: 50%; 
}

.section2 {
    background-color: #0C1216;
    padding: 0.625rem;
}