.navbar {
    background-color: #2C3E50;
    padding: 1.5rem 0;
}
.navbar-brand {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}
.nav-item {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.bg-main {
    background-color: #1ABC9C;
}